<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/chart.css}">
</head>
<body>


    <button id="back-button">Go back</button>

    <script>
        document.getElementById("back-button").addEventListener("click", function() {
            window.history.back();
        });
    </script>

    <div style="border: 2px solid; margin-bottom: 20px" >
        <h1 th:object="${company}">
            <span>Manager(this account) </span>
            <span th:text="${company.getCompanyName()}"></span>
        </h1>
    </div>

    <div style="border: 2px solid; margin-bottom: 20px" th:object="${restaurant}">
        <h1>Restaurant</h1>
        <h3 th:text="${restaurant.getResName()+ ' in ' + restaurant.getCity()}"></h3>
    </div>

    <!-- LIST EMPLOYEE -->
    <h1>List Employee</h1>
    <div>
        <a th:href="@{/admin/addstaff/{id}(id=${restaurant.getResID()})}">Add employee</a>
    </div>
    <div style="border: 2px solid; margin-bottom: 20px">
        <div th:each="employee : ${listEmployee}">
            <a th:href="@{/home/manager/em/{id}(id=${employee.getEmpId()})}">
                <div>
                    <h3 th:text="${employee.getEmpName()}"></h3>
                    <h3 th:text="${employee.getEmail()}"></h3>
                </div>
            </a>
        </div>
    </div>

    <!-- LIST ORDER -->
<!--    <div style="border: 2px solid; margin-bottom: 20px">-->
<!--        <h1>List order</h1>-->
<!--        <div th:each="order : ${listOrder}">-->
<!--            <a th:href="@{/order/{id}(id=${order.getOrderId()})}">-->
<!--                <div>-->
<!--                    <h3 th:text="${order.getCustomer().getCusName()}"></h3>-->
<!--                    <h3 th:text="${order.getOrderId()}"></h3>-->
<!--                    <h3 th:text="${order.getOrderStatus()}"></h3>-->
<!--                    <h3 th:text="${order.getTimeOrder()}"></h3>-->
<!--                </div>-->
<!--            </a>-->
<!--        </div>-->
<!--    </div>-->

    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th scope="col">Number customer</th>
            <th scope="col">Status</th>
            <th scope="col">Time Order</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order : ${listOrder}">
            <td th:text="${order.getOrderId()}"></td>
            <td th:text="${order.getOrderStatus()}"></td>
            <td th:text="${order.getTimeOrder()}"></td>
            <td >
                <span th:if="${order.customer != null}">
                    <a th:href="@{/order/{id}(id=${order.getOrderId()})}">View Detail</a>
                </span>
                <span th:if="${order.customer == null}">
                </span>
            </td>
            <td>
                <a th:method="GET" th:href="@{/order/update/{id}(id = ${order.orderId})}">Edit</a>
            </td>
        </tr>
        </tbody>
    </table>

    <!-- LIST RATE -->
    <div style="border: 2px solid; margin-bottom: 20px">
        <h1>List rate (comment)</h1>
        <div th:each="rate : ${listRate}">
            <h3 th:text="${rate.getRateId().getCustomer().getCusName()}"></h3>
            <h3 th:text="${rate.getComment()}"></h3>
            <h3 th:text="${rate.getRating()}"></h3>
        </div>
    </div>

    <!-- LIST MENU -->
    <div style="border: 2px solid; margin-bottom: 20px">
        <h1>List food(menu)</h1>
        <div th:each="menu : ${listMenu}">
            <h3 th:text="${menu.getCategoryMenu().getCateName()}"></h3>
            <h3 th:text="${menu.getDescriptionFood()}"></h3>
            <h3 th:text="${menu.getPrice()}"></h3>
        </div>
    </div>

    <!-- REVENUE -->
    <div style="border: 2px solid; margin-bottom: 20px">
        <h1>Revenue</h1>
        <div th:each="revenue : ${listRevenue}">
            <h3 th:text="${revenue.getMonth()}"></h3>
            <h3 th:text="${revenue.getYear()}"></h3>
            <h3 th:text="${revenue.getRevenue()}"></h3>
        </div>
    </div>


    <!-- chart js -->
    <div class="graphBox">
        <div class="box">
            <canvas id="myChart1"></canvas>
        </div>
    </div>

</body>
<script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js"></script>
<script>
    // var revenueYear = document.getElementById('myChart').getContext('2d');
    var revenue = document.getElementById('myChart1').getContext('2d');

    var revenueData = [[${listRevenueMonth}]];

    // var dataR = [[${revenueYear}]];
    // var myChart = new Chart(revenueYear, {
    //     type: 'bar',
    //     data: {
    //         labels: ['2023'],
    //         datasets: [{
    //             label: 'Revenue',
    //             data: revenueData,
    //             backgroundColor: [
    //                 'rgba(255, 206, 86, 1)',
    //                 'rgba(75, 192, 192, 1)',
    //                 'rgba(255, 159, 64, 1)'
    //             ],
    //         }]
    //     },
    //     options: {
    //         responsive: true,
    //     }
    // });


    var myChart = new Chart(revenue, {
        type: 'bar',
        data: {
            labels: [[${listMonth}]],
            datasets: [{
                label: '',
                data: revenueData,
                backgroundColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
            }]
        },
        options: {
            responsive: true,
        }
    });

</script>
</html>